*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  display: flex;
}

.left{
 width: 70%;
}

.right{
  width: 30%;
}

@media (max-width: 760px){
  .container{
    flex-direction: column-reverse;
  }
  .left, .right {
    width: 100%;
  }
}

