*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  display: flex;
  overflow:hidden;
  margin: .5em;
  
}

.left{
 width: 60%;
 margin: .05em;
}

.right{
  width:40%;
   margin: .05em;
}

img{
  width: 100%;
}

@media (max-width: 760px){
  .container{
    flex-direction: column-reverse;
  }
  .right, .left{
    width: 100%;
  }

}

